@model Students.UI.Models.AddHousingViewModel
@{
}
<h1>Add region</h1>
<form method = "post" class="mt-3">
    <div>
        <label>Name</label>
        <input type="text" placeholder="Enter the Name of housing where you live" asp-for="Name" />
        <label> Address</label>
        <input type="text" placeholder="Enter the house address" asp-for="Location"/>
        <label>Price</label>
        <input type="number" placeholder="enter the price" asp-for="Price" />
        <button> type="submit" class="btn btn-primary">Submit </button>
    </div>

</form>